<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Displaying the Topic</h1>
        <table>
            <tr>
                <th>S_No</th>
                <th>Topic_Name</th>
            </tr>

            {% for to in TQS %}
            <tr>
                <td>{{to.S_No}}</td>
                <td>{{to.Topic_Name}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>